agent:
  id: testagent
  secret: testsecret

gateway:
  url: http://10.0.0.10:8080
  agent_key: testkey
  agent_secret: testsecret

caracat:
  - name: config0
    instance_id: 0
    dry_run: true
    integrity_check: false
    src_ipv6_prefix: 2001:db8::/64
    probing_rate: 5
    interface: eth0
  - name: config1
    instance_id: 1
    dry_run: true
    integrity_check: false
    src_ipv6_prefix: 2001:db8::/64
    probing_rate: 5
    interface: eth0

kafka:
  brokers: "10.0.0.100:9092"
  auth_protocol: PLAINTEXT

  in_topics: saimiris-probes
  in_group_id: saimiris-agent-integration

  out_enable: false
  out_topic: saimiris-replies
